 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400 & display=swap');

/* css reset */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto";
}


header{
    background-color: black;
    height: 120px;
   }
.container-grid{
    width:85vw;
    margin: 0 auto;
}
 
.cabecalho {
    height: 100%;
    display:flex ;
   justify-content: space-between;
   align-items: center;
}
 
.menu{
    width: 650px; 
    display: flex;
    justify-content: space-between;

}
.menu a {
color: white;
text-decoration: none;
text-transform: uppercase;
font-family: "Roboto";
}

.icone-menu{
    height: 40px;
}
#barras{
    display: none;
}
.banner{
    height: 510px;
    width: 100%;
    border: 3px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:rgb(26, 25, 25);  
}
.posicionamento-banner{
    height: 100%;
    display:flex;
    align-items: center;
}


.banner-a1{
background-image: url(img/banner.png)
}
.banner-a2{
background-image: url(img/capa\ de\ games.jpg);
}
.banner-a3{
background-image: url(img/COD-Modern-Warfare-Banner-PC.jpg\ 3.jpg);
}



.Categorias { 
    background-color: rgb(26, 25, 25);
    border-bottom:2px solid wheat;
}
.Categorias {
    color:white;
padding-top: 5px;
text-decoration: none;
text-transform:none;
font-family: "Roboto";
}
.products-container{
background-color: rgb(26, 25, 25);
min-height: 60vh;
padding: 50px; 
}
.card {
    width: 31%;
    display:inline-block;
    margin: 1% 1%;
    padding: 15px;
}
.product-image{
    height: 15vw;
    width: 100%;
    margin-bottom: 10px;
   align-items: center;
    background-size: cover;
}

#img1 {
    background:url(img/ps5\ imagen.webp) 

}

#img2 {
    background: url(img/ps5\ imagen.webp);
}

#img3 {
    background: url(img/ps5\ imagen.webp);
}

#img4 {
    background: url(img/notebook\ gamer.jpg);
}

#img5 {
    background: url(img/notebook\ gamer.jpg);
}
#img6 {
    background: url(img/notebook\ gamer.jpg);
}
 .card p {
     margin-bottom: 5px;
 }
  


 .btn {
     justify-content: center;
     width: 100%;
     text-align: center;
     text-transform: uppercase;
     text-decoration:none;
     background-color: red;
     padding: 15px;
     border-radius: 5px;
     transition: .5s;
 }
.btn:hover {
    background-color:black;
}
.promoções{
    height: 50px;
    background-color: rgb(26, 25, 25);
    border-bottom:2px solid wheat;
}

.promoções{
   color:white;
padding-top: 5px;
text-decoration: none;
text-transform:none;
font-family: "Roboto";
}

#img7{
    background: url(img/jogos.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#img8{
    background: url(img/jogos.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#img9{
    background: url(img/jogos.webp);
    background-repeat: no-repeat;
    background-size: cover;  
}

.banner-dois{
 background-color: rgb(26, 25, 25);
 align-self: center;
}
.banner-dois img{
    width: 100%;
    border-radius: 5px;
}



footer{
  background-color: black;
   padding: 20px ;
}
 
.container-footer{
    width:100%;
    margin: 10px;
}
 
.footer-col{
    width:85vw;
    padding: 5px;
}

.footer-midia h4{ 
    font-family: "Roboto";
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
}
.footer-col ul{
    list-style: none;
}
.footer-midia h3{
    color: white;
    
}

.footer-midia ul li{
    margin: 10px ;
   
}

.footer-midia ul li a{
    font-family: "Roboto";
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration:none;
    font-weight: 300;
    transition: all 0.3s ease;
}

.footer-midia ul li a:hover{
    color:white;
    padding-left: 10px;
}

.logo-footer img{
   
    width:20em;
 
}

.footer-col h4{
    color: white;
    padding: 20px;
}


.midias-socias{
 margin-top: 40px;
}

.midias-sociais a img{
margin: 10px;
height: 40px;
width: 50px;
border-radius: 100%;
}

.midias-sociais h4{
    width: 200px;
}
.form-sub{
    align-items: center;
}

.footer-col .form-sub input {
    width:55%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    background-color: white;
}
.footer-col .form-sub input::placeholder{
    color:black;
}

.footer-col .form-sub button{
    color:white;
    width: 45%;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
   
    
   

}


@media screen and (max-width:1200px){
    .container-grid{
        width: 85vw;
        

    }
}
@media screen and (max-width:1000px) {
    #barras{
        display: inline-block;
    }
    
    .cabecalho{
        position: relative;
    }


    .menu{
        display: none;
        position: absolute;
        top: 80px ;
        right:131px ;
        height: 300px;
        width: 30vw;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color:  rgb(26, 25, 25);
        border-radius: 10px;
    }
}





